
<head>
    <style>
        tr {
            border-right: 1px solid black;
        }
        td {
            padding: 5px !important;
        }
    </style>
</head>
<div class="container">
    <form>
        <table class="table small" style="border:1px solid black !important; font-size:9px;">
            <tr style="height:50px;">
                <td style="border-top:0px !important;">

                    <img style="width: 120px; height:50px;" src="~/assets/img/logo_larrain.png" />

                </td>
                <td colspan="2" style="border-top:0px !important;">
                    <span> RUT</span><br />
                    <span> 77.123.456.-9</span><br />
                    <span> DIRECCIÓN</span><br />
                    <span>AV. AMERICO VESPUCIO EXPRESS #2451</span>
                </td>
                <td colspan="2"  style="border-top:0px !important;text-align:left;">
                    <span> <h2><b>NOTA DE VENTA</b></h2></span>

                </td>
            </tr>
            <tr>

                <td >
                    <span> SANTIAGO</span>
                </td>
                <td >
                    <span>
                        <label>05/08/2019 12:41:00</label>
                    </span>
                </td>
                <td >
                    <label>NÚMERO</label>

                </td>
                <td colspan="2" >
                    <span>
                        N°123456789
                    </span>
                </td>
            </tr>

        </table>
        <table class="table small" style="border:1px solid black !important; font-size:9px;">
            <tr style="border-right:1px solid black;">
                <td colspan="2" style="border-top:0px !important;">

                    <label>FACTURAR A</label>

                </td>

                <td colspan="2" style="border-top:0px !important;">
                    <span>
                        NOMBRE DEL FACTURADOR
                    </span>


                </td>

                <td style="border-top:0px !important;">
                    <label>
                        <span> DIRECCION</span>
                    </label>
                </td>
                <td colspan="4" style="border-top:0px !important;">
                    <span>
                        AVENIDA SIEMPRE VIVA 123
                    </span>
                </td>
            </tr>

            <tr>

                <td colspan="2" >

                    <label>RUT</label>

                </td>
                <td >
                    <span> 12345678-9</span>

                </td>
                <td >
                    <label>TELÉFONO</label>

                </td>

                <td >
                    <span>+56912345678</span>

                </td>
                <td >
                    <label>CELULAR</label>
                </td>

                <td >
                    <span>+56912345678</span>

                </td>
                <td >
                    <label>COMUNA</label>

                </td>
                <td >
                    <span>MACUL</span>


                </td>
            </tr>
            <tr>
                <td >
                    <label>CIUDAD</label>
                </td>
                <td colspan="3" >
                    <span>SANTIAGO</span>

                </td>
                <td colspan="2" >
                    <label>EMAIL</label>
                </td>
                <td colspan="3" >
                    <span>javo@hackmonkeys.cl</span>
                </td>

            </tr>

            <tr>
                <td >
                    <label>COMPRA:</label>
                </td>
                <td colspan="2" >
                    <span>NOMBRE DEL FACTURADOR</span>
                </td>
                <td >
                    <label>RUT</label>
                </td>
                <td >
                    <span>12345678-9</span>
                </td>
                <td >
                    <label>TELÉFONO</label>
                </td>
                <td >
                    <span>+56912345678</span>
                </td>
                <td >
                    <label>EMAIL</label>
                </td>
                <td >
                    <span>prueba@hackmonkeys.cl</span>
                </td>
            </tr>
        </table>


        <table class="table small" style="border:1px solid black !important; font-size:9px;">

            <tr>
                <td style="border-top:0px !important;">
                    <label>MARCA</label>
                </td>
                <td colspan="4" style="border-top:0px !important;">
                    <span>KIA MOTORS</span>
                </td>
                <td style="border-top:0px !important;">
                    <label>MODELO</label>
                </td>
                <td colspan="4" style="border-top:0px !important;">
                    <span>CARENS LS</span>

                </td>
                <td style="border-top:0px !important;">
                    <label>AÑO</label>
                </td>
                <td style="border-top:0px !important;">
                    <span>2002</span>

                </td>

            </tr>
            <tr>
                <td >
                    <label>COLOR</label>
                </td>
                <td colspan="4" >
                    <span>BLANCO INVIERNO</span>
                </td>
                <td >
                    <label>STOCK</label>
                </td>
                <td colspan="2" >
                    <span>1</span>

                </td>
                <td >
                    <label>PATENTE</label>
                </td>
                <td colspan="3" >
                    <span>VB3513</span>

                </td>

            </tr>
            <tr>
                <td colspan="2" >
                    <label>FACTURA</label>
                </td>
                <td colspan="2" >
                    <span>SI</span>
                </td>
                <td >
                    <label>SUCURSAL</label>
                </td>
                <td colspan="7" >
                    <span>CERRILLOS</span>
                </td>


            </tr>

        </table>
        <table class="table small" style="border:1px solid black !important; font-size:9px;">

            <tr>

                <td colspan="2" style="border-top:0px !important;">
                    <label>PRECIO DE VENTA</label>
                </td>

                <td colspan="2" style="border-top:0px !important;text-align:right !important; ">
                    <span>$6.000.000</span>
                </td>
                <td colspan="2" style="border-top:0px !important; ">

                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </td>
                <td colspan="2" style="border-top:0px !important; ">
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>
                <td colspan="2" style="border-top:0px !important; ">
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>




            </tr>
            <tr>
                <td colspan="2" >
                    <label>TRANSFERENCIA</label>
                </td>
                <td colspan="2" style="text-align:right !important; ">
                    <span>$300.000</span>
                </td>
                <td colspan="2" >

                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </td>
                <td colspan="2" >
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>
                <td colspan="2" >
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>

            </tr>
            <tr>
                <td colspan="2" >
                    <label>TOTAL</label>
                </td>
                <td colspan="2" style=" text-align:right !important;">
                    <span>$6.300.000</span>
                </td>
                <td colspan="2" >

                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </td>
                <td colspan="2" >
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>
                <td colspan="2" >
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>

            </tr>
            <tr>
                <td colspan="2" >
                    <label>DESCUENTOS</label>
                </td>
                <td colspan="2" style=" text-align:right !important;">
                    <span>$500.000</span>
                </td>
                <td colspan="2" >

                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </td>
                <td colspan="2" >
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>
                <td colspan="2" >
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>

            </tr>
            <tr>
                <td colspan="2" >
                    <label>TOTAL A PAGAR</label>
                </td>
                <td colspan="2" style=" text-align:right !important;">
                    <span>$5.800.000</span>
                </td>
                <td colspan="2" >

                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </td>
                <td colspan="2" >
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>
                <td colspan="2" >
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>

            </tr>

        </table>

        
        <table class="table small" style="border:1px solid black !important; font-size:9px;">
            <tr>
                <td colspan="3" style="border-top:0px !important;">
                    <label>TIPO DE DOCUMENTO</label>
                </td>
                <td colspan="3" style="border-top:0px !important;">
                    <label>FORMA DE PAGO</label>
                </td>
                <td colspan="3" style="border-top:0px !important;">
                    <label>N° Cuenta</label>
                </td>
                <td colspan="2" style="border-top:0px !important; text-align:right !important">
                    <label>MONTO</label>
                </td>
                <td colspan="3" style="border-top:0px !important; ">
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>
            </tr>
            <tr>
                <td colspan="3" >
                    <span>CHEQUE 1</span>
                </td>
                <td colspan="3" >
                    <span>BANCO ESTADO</span>
                </td>
                <td colspan="3" >
                    <span>17414469</span>
                </td>
                <td colspan="2" style=" text-align:right !important;">
                    <span>$500.000</span>
                </td>
                <td colspan="3" >
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>
            </tr>
            <tr>
                <td colspan="3" >
                    <span>CHEQUE 2</span>
                </td>
                <td colspan="3" >
                    <span>BANCO BCI</span>
                </td>
                <td colspan="3" >
                    <span>29563801</span>
                </td>
                <td colspan="2" style="text-align:right !important;">
                    <span>$300.000</span>
                </td>
                <td colspan="3" >
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>
            </tr>
            <tr>
                <td colspan="3" >
                    <span>EFECTIVO</span>
                </td>
                <td colspan="3" >
                    <span></span>
                </td>
                <td colspan="3" >
                    <span></span>
                </td>
                <td colspan="2" style=" text-align:right !important;">
                    <span>$500.000</span>
                </td>
                <td colspan="3" >
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>
            </tr>
            <tr>
                <td colspan="6" >
                    <span></span>
                </td>
                <td colspan="3" >
                    <label>TOTAL CANCELADO</label>
                </td>
                <td colspan="2" style=" text-align:right !important;">
                    <span>$1.300.000</span>
                </td>
                <td colspan="3" >
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>

            </tr>

            <tr>
                <td colspan="14" >
                    <label>VEHICULOS EN PARTE DE PAGO:</label>
                </td>

            </tr>
            <tr>
                <td colspan="3" >
                    <label>PATENTE</label>
                </td>
                <td colspan="3" >
                    <label>MARCA</label>
                </td>
                <td colspan="3" >
                    <label>AÑO</label>
                </td>
                <td colspan="2" style="text-align:right !important;">
                    <label>PRECIO DE TOMA</label>
                </td>
                <td colspan="3" >
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>
            </tr>
            <tr>
                <td colspan="3" >
                    <span>VB3513</span>
                </td>
                <td colspan="3" >
                    <span>KIA MOTORS</span>
                </td>
                <td colspan="3" >
                    <span>2002</span>
                </td>
                <td colspan="2" style=" text-align:right !important;">
                    <span>$3.000.000</span>
                </td>
                <td colspan="3" >
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>
            </tr>

            <tr>
                <td colspan="3" >
                    <span>NZ1523</span>
                </td>
                <td colspan="3" >
                    <span>NISSAN</span>
                </td>
                <td colspan="3" >
                    <span>1995</span>
                </td>
                <td colspan="2" style=" text-align:right !important;">
                    <span>$1.500.000</span>
                </td>
                <td colspan="3" >
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>
            </tr>
            <tr>
                <td colspan="3" >
                    <span></span>
                </td>
                <td colspan="3" >
                    <span></span>
                </td>
                <td colspan="3" >
                    <label>TOTAL</label>
                </td>
                <td colspan="2" style=" text-align:right !important;">
                    <span>$4.500.000</span>
                </td>
                <td colspan="3" >
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>
            </tr>
        </table>
        <table class="table small" style="border:1px solid black !important; font-size:9px;">
            <tr>
                <td colspan="9" style="border-top:0px !important;">
                    <label>OBSERVACIONES:</label>
                </td>
            </tr>
            <tr>
                <td colspan="9" >
                    <span>vehiculo dañado en la parte derecha, tiene mas cosas, rayones, etc.</span>
                </td>
            </tr>
            <tr>
                <td colspan="9" style="border-top:0px !important;">
                    <span>
                        <h6>
                            El valor de la reserva se abonará al saldo a facturar, y no constituye fijación de precio.
                            Los precios de venta, serán los que rijan al momento de la entrega y
                            NO SE GARANTIZA NÚMERO DE TERMINACIÓN DE LA PATENTE
                        </h6>
                    </span>
                </td>

            </tr>


            <tr>
                <td style="border-top:0px !important; ">
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>
                <td colspan="2" style="border-top:0px;">
                    <span>
                        MARCIA ORTIZ
                    </span>
                    <br />
                    <span style="border-top:1px solid black !important;">

                        &nbsp; &nbsp;  vendedor&nbsp; &nbsp;
                    </span>
                </td>
                <td style="border-top:0px !important; ">
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>
                <td colspan="2" style="border-top:0px;">
                    <br />

                    <span style="border-top:1px solid black !important;">
                        &nbsp; &nbsp;  V°B° GERENCIA &nbsp; &nbsp;
                    </span>
                </td>
                <td  style="border-top:0px !important; ">
                    <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

                </td>
                <td colspan="2" style="border-top:0px;">
                    <br />

                    <span style="border-top:1px solid black !important;">
                        &nbsp; &nbsp; COMPRADOR &nbsp; &nbsp;
                    </span>
                </td>
            </tr>
        </table>
    </form>
    <div style="text-align:center;">
        <button onclick="imprimir()">imprimir</button>
    </div>
    
</div>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>*@
<script src="~/assets/js/jquery-3.4.1.min.js"></script>
<script>

    function imprimir() {
        window.print();
    }
</script>
